<ul class="admin-list">
<%= render :partial => 'template_listing', :collection => @page_templates %>
</ul>

<% content_for :sidebar do %>
<span class="item"><%= link_to 'New Template', new_page_template_path %></span>
<% end %>