body { background-color: #1E1E1E; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
}

#main{
  width: 100%;
}

#header{
  background-color: #1E1E1E;
  color: #D8D8D8;
  padding: 14px;
}

#header h1, #header h2,#header h3,#header h4{
  color: #D8D8D8;
  margin: 0;
}

#header a, #header a:visited{
  color: #D8D8D8;
}

#content{
  width: 100%;
  background-color: #fafafa;
  min-height: 380px;
  padding-bottom: 6px;
}

#footer{
  background-color: #888;
  padding: 4px;
}

.footer, .footer a, .footer a:visited{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

#menubar{
  background-color: #e64117;
}

.menubar{
  padding: 8px 0 0;
  text-align: right;
}

.menubar a, 
.menubar a:visited{
  color: #ffffff;
  text-decoration: none;
  padding: 4px 10px;
  margin-bottom: 0;
  font-size: 1.2em;
  display: inline-block;
  -moz-border-radius: 9px 9px 0 0;
  -webkit-border-radius: 9px 9px 0 0;
}
.menubar a:hover {
  color: #bef;
}
.menubar a.active {
  font-weight: bold;
  background: white;
  color: black;
}

.session-link {
  float: right;
}

#form-panel{
  margin: 1em;
  padding: 0.6em;
  border: 1px solid silver;
}

#form-panel form div label{
  display: block;
}

#list-panel{
  margin: 1em;
  padding: 0.6em;
  border: 1px solid silver;
  min-height: 380px;
}