<div id="form-panel">
  <div class="versioning">
    <label for="version">viewing version</label>
    <%= select_tag 'version', versions_for(@page),
      :onchange => "location.href = '#{edit_page_path}?version='+this.options[this.selectedIndex].value;" %>
  </div>

  <%= render :partial => 'form', :locals => {:page => @page} %>

  <% content_for :sidebar do %>
    <span class="item span-3"><%= link_to 'View', sandstone_url(:path => @page.path.split('/')) %></span>
  <% end %>
</div>
