
<div id="list-panel">
  <ul class="admin-list">
    <%= render :partial => 'page_listing', :collection => @pages %>
  </ul>

  <% content_for :sidebar do %>
    <span class="item"><%= link_to 'New Page', new_page_path %></span>
  <% end %>

</div>
